@import "tailwindcss";

@theme {
  /* Daftarkan variable font ke theme Tailwind */
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #e6a020;
  --color-dark: #1a1a1a;
}

@layer base {
  body {
    /* Paksa body pake font-jakarta secara manual */
    font-family: var(--font-jakarta), sans-serif !important;
    @apply bg-dark text-white antialiased;
  }
}